<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" (click)="toggleNavbar()" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="backToIndex()">Gaëtan Blaise-Cazalet</a>
    </div>

    <div id="navbar" class="navbar-collapse" [ngClass]="{collapse: navbarCollapsed}" class="navbar-collapse">
      <!-- Blog content -->
      <gb-blog-categories></gb-blog-categories>
      <!-- Not connected : login -->
      <ul *ngIf="!(af.auth | async)" class="nav navbar-nav navbar-right">
        <li *ngIf="error" class="alert alert-danger dontHitTop" role="alert">{{error}}</li>
        <li><input type="text" #email class="form-control dontHitTop" placeholder="Email"></li>
        <li><input type="password" #password class="form-control dontHitTop" placeholder="Mot de passe"></li>
        <li>
          <button (click)="auth(email.value, password.value)" class="btn btn-default dontHitTop" type="button">Se connecter</button>
        </li>
      </ul>
      <!-- Connected : admin and logout -->
      <ul *ngIf="(af.auth | async)" class="nav navbar-nav navbar-right">
        <li><a (click)="goToAdmin()">Admin</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

